.hero{
    // padding: 5%;
}

.header{
    height: 90vh;
    width: 100vw;
    &__image{
        width: 100%;
        height: 50%;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: 50% 50%;
        }
    }
}
