.hero {
  // padding: 5%;
}

.header {
  // height: 90vh;
  width: 100vw;
  max-width: 455px;
  margin: 0 auto;

  &__image {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    // height: 50%;
    // margin-top: -2rem;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }

  &__content {
    width: 100%;
    margin-top: 1.2rem;
    // height: 40vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &--title {
      font-size: 3rem;
      font-weight: 700;
    }
    &--text {
      color: $medium-grey;
      line-height: 2.4rem;
      text-align: center;
      font-size: 1.3rem;
      margin: 2rem 0;
      // font-size: $paragraph-font-size;
    }
    &--btn {
      text-decoration: none;
      font-size: 1.5rem;
      &:link,
      &:visited {
        color: $almost-white;
      }
      &:hover{
        background-color: transparent;
        border: 1px solid $almost-black;
        color: $almost-black;
        font-weight: 700;
      }
    }
  }

  &__icons {
    width: 100%;
    // height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5% 0;
    img {
      // height: 25%;
      width: 6rem;
      // height: 1.1rem;
    }
  }
}


// MEDIA QUERIES (DESKTOP)

@media (min-width: 1000px){
  .header{
    display: grid;
    width: 85%;
    height:75%;
    // max-height: 515px;
    grid-template-areas: 
    "cont cont img img"
    "cont cont img img"
    "cont cont img img"
    "icons icons img img";
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,110px);
    @include resetMarginAndMax;
    &__image{
      @include resetMarginAndMax;
      grid-area: img;
      height: 100%;
    }
    &__content{
      grid-area: cont;
      align-items: flex-start;
      margin-top: 4.2rem;
      height: 110%;
      &--title{
        font-size: 6.5rem;
        span{
          display: block;
        }
      }
      &--text{
        text-align: left;
        font-size: 1.4rem;
        line-height: 2.8rem;
        max-width: 375px;
      }
    }
    &__icons{
      grid-area: icons;
      align-items: flex-end;
    }
  }
}

// MEDIA QUERIES (DESKTOP LARGE)

@media (min-width: 1300px){
  .header{
    &__content{
      &--title{
          font-size: 8rem;
      }
      &--text{
        font-size: 1.6rem;
        max-width: 400px;
      }
    }
  }
}